<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Webapi\Controller\Rest\SynchronousRequestProcessor">
        <plugin name="MBk_ApiRestrictions::webapi_controller_rest_synchronousRequestProcessorPlugin"
                type="MBk\ApiRestrictions\Plugin\Webapi\Controller\Rest\SynchronousRequestProcessorPlugin"/>
    </type>
</config>
