<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="webapi">
            <group id="webapisecurity">
                <field id="allowed_ips" translate="label comment" sortOrder="10" showInDefault="1">
                    <label>Allowed Ips</label>
                    <frontend_model>MBk\ApiRestrictions\Block\Adminhtml\Form\Field\IpAddress</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Leave empty for access from any location.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
